.accordion {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    overflow: hidden;
    transition: all 0.3s ease;

    &__title {
        background-color: rgba(255, 96, 96, 1);
        color: white;
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        i {
            margin-left: 10px;
        }
    }

    &__content {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out, padding 0.3s ease-out;
        padding: 0 15px;
        background-color: #f7f7f7;

        &--open {
            max-height: 500px;
            padding: 15px;
        }
    }

    // Enlève le border quand l'accordion est ouvert
    &.active {
        border: none;

        &__title {
            border: none;
        }
    }

    // Enlève le border quand l'accordion est fermé
    &:not(.active) {
        border: none;
    }
}